In [1]:
import pandas as pd
import numpy as np

In [163]:
                  
df = pd.read_csv('../data/complete_data.csv') ##fips: np.nan not 'nan' in this file

In [164]:
df['fips'] = df['fips'].astype(pd.Int64Dtype())
df['fips'] = df['fips'].astype(str)

In [165]:
df.loc[df['fips'].str.len() == 4, ['fips']] = '0' + df['fips'][df['fips'].str.len() == 4]

In [166]:
df.loc[df['fips']=='0<NA>', ['fips']]='nan'

In [167]:
df.to_csv('complete.csv', index=False)

In [168]:
df = pd.read_csv('../data/complete.csv',converters={'fips': lambda x: str(x)}, index_col=False)

In [170]:
df.head()

,current_location,current_work,previous_work,latest_Education,major,search_school,current_company,previous_company,current_company_industry,previous_company_industry,...,previous_NAICS,current_NAICS_title,current_avg_salary,previous_NAICS_title,latitude,longitude,state,county,city,fips
0,"Dublin, Ohio, United States","Director, Cyber Security Operations & Incident...",Cyber Security Manager at Capgemini,Brown University,"Computer Science, Computer Networking and Secu...",Brown University,Diebold Nixdorf,Capgemini,238210 Tunnel lighting contractors,"541511 Web (i.e., Internet) page design servic...",...,54,Construction,64648.972,"Professional, Scientific, and Technical Services",40.099229,-83.114077,Ohio,Franklin,NaN,39049
1,New York City,Vice President of Development at TRITEC Real E...,Development Analyst at TRITEC Real Estate Comp...,Georgetown University,Real Estate Development,Brown University,"TRITEC Real Estate Company, Inc.","TRITEC Real Estate Company, Inc.",NaN,NaN,...,NaN,unknown,NaN,unknown,40.712728,-74.006015,New York,NaN,New York,36061
2,"San Diego County, California, United States","Strategic Advisor at Ionis Pharmaceuticals, Inc.",Vice President Of Business Development and All...,1999–2001,Healthcare Management,Brown University,"Ionis Pharmaceuticals, Inc.","Ionis Pharmaceuticals, Inc.","334510 Ultrasonic scanning devices, medical, m...","334510 Ultrasonic scanning devices, medical, m...",...,31-33,Manufacturing,69174.562,Manufacturing,32.963784,-116.770628,California,San Diego,NaN,06073
3,San Francisco Bay,"Strategic Enterprise Solutions, International ...","Partnerships & Sales, Corporate Solutions at Y...",Brown University,"Entrepreneurship, Organizations, and Social Ju...",Brown University,"YourCause, Blackbaud Corporate Solutions","YourCause, Blackbaud Corporate Solutions",NaN,NaN,...,NaN,unknown,NaN,unknown,37.714029,-122.307794,California,San Mateo,NaN,06081
4,"Mesa, Arizona, United States","Senior Director, Global Enterprise Risk Manage...",Director of Global Supply Chain Planning / New...,University of Pennsylvania - The Wharton School,Strategic Management & Planning,Brown University,ON Semiconductor,ON Semiconductor,334413 Wafers (semiconductor devices) manufact...,334413 Wafers (semiconductor devices) manufact...,...,31-33,Manufacturing,69174.562,Manufacturing,33.415112,-111.831479,Arizona,Maricopa,Mesa,04013

In [172]:
df.fips.unique()

array(['39049', '36061', '06073', '06081', '04013', '39061', '12086',
       'nan', '53035', '34041', '25027', '39151', '06037', '25017',
       '06059', '34019', '25025', '48029', '44007', '27053', '06075',
       '36119', '42101', '53033', '48121', '12009', '06087', '12011',
       '48453', '17031', '37135', '06001', '34013', '12057', '48201',
       '09001', '08013', '37119', '31055', '45019', '25009', '48113',
       '12071', '25021', '42003', '34027', '37183', '06085', '48439',
       '13121', '26161', '06097', '23005', '12033', '24031', '47037',
       '41051', '08031', '51059', '12095', '06057', '42045', '51013',
       '39113', '21111', '12099', '29047', '24027', '44001', '12001',
       '34001', '49035', '36103', '26163', '24005', '10003', '36055',
       '12081', '08113', '34035', '29095', '37063', '39035', '34003',
       '44003', '45013', '47187', '55079', '45045', '42017', '06013',
       '36059', '17097', '36029', '15003', '37129', '09003', '06041',
       '17089', '06083', '12031', '41017', '50007', '10005', '33015',
       '12115', '42029', '17043', '44005', '34039', '06019', '18097',
       '08005', '04019', '53061', '08069', '12061', '34005', '34023',
       '36109', '12103', '12073', '42091', '34017', '45063', '37081',
       '09009', '09007', '34021', '17111', '37021', '25023', '20173',
       '36087', '27123', '18057', '13089', '36039', '25005', '12083',
       '42077', '26125', '27037', '08035', '24003', '06055', '06071',
       '35001', '04005', '12117', '08059', '39133', '42043', '33011',
       '12021', '17143', '09005', '47073', '13051', '56039', '34025',
       '41067', '40143', '01073', '39153', '37179', '33013', '36111',
       '26081', '51159', '37067', '55059', '55009', '51107', '32031',
       '41005', '49043', '29077', '55025', '37051', '55133', '45091',
       '06067', '26077', '18003', '16001', '47149', '04025', '08041',
       '20091', '48139', '37097', '30031', '06111', '01097', '26099',
       '17197', '55051', '17007', '17201', '05143', '42011', '32003',
       '05119', '53005', '35049', '36027', '25013', '48085', '16055',
       '46099', '55089', '13067', '48041', '18163', '36097', '39097',
       '08045', '53053', '13223', '36001', '12051', '12105', '19103',
       '42019', '49049', '06065', '55131', '26055', '31109', '08001',
       '39085', '12089', '19153', '19125', '12127', '42071', '42033',
       '42027', '42089', '42125', '42085', '51087', '42095', '48141',
       '05031', '12113', '26005', '27019', '26025', '48019', '53063',
       '47065', '47093', '39103', '34009', '36067', '53075', '42069',
       '21007', '39169', '34007', '50023', '51153', '12087', '36019',
       '01055', '24043', '26139', '18039', '42041', '13127', '13135',
       '48339', '40109', '42133', '42129', '01101', '48157', '06061',
       '29019', '55087', '24021', '12097', '24013', '41039', '12101',
       '21067', '42107', '42051', '36079', '42013', '28121', '45035',
       '42079', '48245', '37065', '34031', '05007', '10001', '42105',
       '39167', '48491', '42093', '53039', '26111', '18127', '36093',
       '24033', '47157', '54061', '37071', '37159', '24025', '34015',
       '42119', '42081', '36091', '38015', '48471', '37147', '42115',
       '42055', '45079', '53067', '26065', '13113', '06053', '06079',
       '33005', '37025', '42049', '42075', '51085', '06031', '28059',
       '29153', '06099', '06095', '06047', '30081', '53011', '13139',
       '49011', '06017', '24045', '08077', '16083', '06069', '06003',
       '16047', '13077', '48397', '06029', '06113', '18043', '06109',
       '06007', '41003', '08067', '06045', '06101', '06077', '13057',
       '37137', '06051', '17133', '15009', '16087', '26049', '26159',
       '26165', '17001', '48089', '26045', '55127', '26091', '18105',
       '26075', '18089', '36025', '26135', '26009', '26093', '19169',
       '26115', '56001', '53073', '45051', '41027', '01033', '17019',
       '26145', '48183', '39165', '45015', '23031', '48329', '25015',
       '28049', '26029', '04027', '48355', '26089', '26027', '55073',
       '18063', '01125', '04015', '26121', '56011', '41041', '39025',
       '37141', '01081', '48427', '51171', '41035', '39023', '47179',
       '39095', '20045', '27015', '13029', '48187', '27041', '28061',
       '16019', '30063', '26041', '41029', '19113', '55117', '54039',
       '48181', '37125', '26047', '35028', '21211', '17093', '17113',
       '35055', '18095', '26105', '26063', '26117', '12015', '55111',
       '26123', '39155', '18059', '26073', '13097', '48309', '08003',
       '48423', '26103', '26067', '39093', '23011', '18005', '47089',
       '18157', '36007', '17161', '13215', '50027', '36031', '17167',
       '47053', '55093', '46083', '19013', '51157', '19163', '51003',
       '42103', '39017', '42009', '55105', '29037', '12131', '45083',
       '39011', '53009', '55097', '34011', '51061', '20177', '36083',
       '42007', '53031', '26021', '36069', '18037', '39161', '27003',
       '17195', '48167', '12085', '38017', '39041', '42047', '19049',
       '21015', '08037', '27109', '18169', '13245', '48039', '28087'],
      dtype=object)