### Import and Load data of US news rankings

In [ ]:
import pandas as pd
import random

In [68]:
df = pd.read_csv('2022.csv')
df = df.sort_values(by='2022')
df_u = df[['University Name']]
df_u

                           University Name
0                     Princeton University
1                      Columbia University
2                       Harvard University
3    Massachusetts Institute of Technology
4                          Yale University
..                                     ...
152                  Quinnipiac University
160              University of Mississippi
161                        Ohio University
162                 University of Arkansas
163            Washington State University

[164 rows x 1 columns]

### Select universities using stratified sampling methods

In [173]:
d1 = df_u[:6].sample(1, random_state=1)
d2 = df_u[6:11].sample(1, random_state=1)
d3 = df_u[11:16].sample(1, random_state=1)
d4 = df_u[16:21].sample(1, random_state=1)
d5 = df_u[21:26].sample(1, random_state=1)
d6 = df_u[26:31].sample(1, random_state=1)
d7 = df_u[31:36].sample(1, random_state=1)
d8 = df_u[36:41].sample(1, random_state=1)
d9 = df_u[41:46].sample(1, random_state=1)
d10 = df_u[46:51].sample(1, random_state=1)
d11 = df_u[51:56].sample(1, random_state=1)
d12 = df_u[56:61].sample(1, random_state=1)
d13 = df_u[61:66].sample(1, random_state=1)
d14 = df_u[66:71].sample(1, random_state=1)
d15 = df_u[71:76].sample(1, random_state=1)
d16 = df_u[76:81].sample(1, random_state=1)
d17 = df_u[81:86].sample(1, random_state=1)
d18 = df_u[86:91].sample(1, random_state=1)
d19 = df_u[91:96].sample(1, random_state=1)
d20 = df_u[96:101].sample(1, random_state=1)
choose=pd.concat([d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20])
choose.to_csv('uni22.csv')

In [174]:
choose

                                   University Name
2                               Harvard University
11                         Northwestern University
13                                Brown University
18                        University of Notre Dame
23                University of Michigan-Ann Arbor
31        University of North Carolina-Chapel Hill
33              University of California-San Diego
39                  University of California-Davis
43                 Case Western Reserve University
49                         Northeastern University
53                            Villanova University
61                        University of Washington
63   Pennsylvania State University-University Park
67                              Fordham University
72                         University of Minnesota
81                 North Carolina State University
90              University of California-Riverside
84                                Elon Uuniversity
93                           University of Buffalo
100                           University of Oregon

### Use ranodm generator to randomly assgin schools to team members

In [143]:
#Sushan 53 63 11 67 31
#Jiehan 43 93 61 39 23
#Ning 72 49 84 2 18
#Peihan 13 90 81 33 100

In [243]:
random.choice(list(choose.index))

39